/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: white;

* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/hotel-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  margin: 0;
  position: relative;
}

h1 {
  margin: 0;
}

.body-span__date-today {
  font-size: 1.5em;
}

header {
  background-color: $primary-background;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header-p__current-customer {
  margin-bottom: 0;
}

nav {
  height: 50px; 

  .nav-button {
    display: inline;
    float: left;
    font-size: 2em;
    height: 50px;
    list-style-type: none;
    padding: 0;
    width: 25%;
  } 

  :hover {
    background-color: purple;
  }
}

main {
  height: 91%;
}

.main-section {
  margin: 30px auto 0 auto;
  height: 90%;
  width: 94%;
  background-color: lightgray;
  opacity: .8;
}

.main-customer-div {
  height: 100px;
}

.main-div__rooms-hide,
.food-hide  {
  height: 100%;
}

.food-hide {
  text-align: center;
}

.main-table__avail-rooms {
  background-color: white; 
  height: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  overflow: scroll;
  
  .main-th__avail-rooms {
    display: flex;
    justify-content: space-between;
    width: 20%;
  }
  
  .main-tr__avail-rooms {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 5px 0 5px 0;

    &:hover {
      background-color: purple;
    }
  }

  .main-td__avail-rooms {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    text-align: center;
    width: 20%;
  }

}

.main-table__food-menu {
  align-items: center;
  background-color: white; 
  height: 50%;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  overflow: scroll;
  text-align: center;
  width: 50%;

  .right-padding {
    padding-right: 30px;
  }
}

.room-content-container {
  display: flex;
  height: 50%;
  justify-content: space-around;
  padding: 40px;
  width: 100%;
}

.main-section__most-pop-book-date,
.main-section__most-rooms-avail {
  border: 2px solid black;
  height: 100%;
  text-align: center;
  width: 45%;
}

// .main-section__most-pop-book-date,
// .main-section__most-rooms-avail {
  
// }

// .main-section__rooms-page {

// }

.main-div__input-wrangler {
  display: flex;
  flex: row;
}

.room-input-container,
.room-input-container-tonight {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin: auto;
  text-align: center;
  width: 25%;
}

.main-div__table-header-container {
  display: flex;

  .inputs,
  .main-para__filter-room-type {
    margin-top: 22px;
  }
  
  .inputs {
    margin-left: 10px;
  }

  .main-para__filter-room-type {
    margin-left: 70px;
  }
}

.main-form__existingCustomer-search {
  display: flex;
  height: 100%;
  justify-content: space-around;
  padding: 40px;

  .main-customer-div {
    align-items: center;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 50%;
    opacity: 1;
    padding: 40px;
    width: 45%;
  }

  .customer-label {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .customer-inputs {
    height: 30px;
    margin-bottom: 15px;
    width: 250px;
  }

  .main-para__errorMsg {
    margin: 0;
    font-size: .75;
    width: 100%;
  }
}