$primary-background: white;
$primary-border: 1px solid black;
$label-width: 300px;
$label-height: 30px;
$label-margin: 15px;

* {
  box-sizing: border-box;
}

body {
  background-image: url('../images/hotel-background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Roboto', sans-serif;
  height: 90vh;
  margin: 0;
  position: relative;
}

h1 {
  margin: 0;
}

.body-span__date-today {
  font-size: 1.5em;
}

header {
  background-color: $primary-background;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header-p__current-customer {
  margin-bottom: 0;
}

.button {
  border: $primary-border;
  height: $label-height;
  width: $label-width;
  margin-bottom: $label-margin;

  &:hover {
    background-color: gray;
  }
}

nav {
  height: 50px; 

  .nav-button {
    display: inline;
    float: left;
    font-family: 'Roboto';
    font-size: 1.75em;
    height: 50px;
    list-style-type: none;
    padding: 0;
    width: 25%;
  } 

  :hover {
    background-color: gray;
  }
}

main {
  height: 91%;
}

.main-section {
  margin: 30px auto 0 auto;
  height: 90%;
  width: 94%;
  background-color: $primary-background;
  opacity: .9;
}

.main-customer-div {
  height: 100px;
}

.main-div__rooms-hide {
  height: 100%;
  padding: 30px;
}

.food-hide {
  text-align: center;
}

.main-section__main-page {
  padding-top: 1px;
  text-align: center;

  .front-page-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    padding: 0 40px 40px 40px;
    width: 100%;

    .main-h2 {
      font-size: 2em;
      margin: 0;
    }

    .main-section-h3 {
      font-size: 1.3em;
    }

    .main-container {
      border: 1px solid black;
      display: flex;
      height: 70%;
      justify-content: center;
      padding-top: 40px;
      width: 30%;
    }
  }
}

.rooms-general-info {
  height: 100%;

  .avail-rooms-container {
    background-color: $primary-background; 
    border: 1px solid black;
    height: 300px;
    padding: 10px 10px 10px 30px;
    overflow: scroll;

    .main-table__avail-rooms {
      display: flex;
      flex-direction: column;
      
      .main-th__avail-rooms {
        display: flex;
        justify-content: space-between;
        width: 20%;
      }
      
      .main-tr__avail-rooms {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 5px 0 5px 0;

        &:hover {
          background-color: gray;
        }
      }

      .main-td__avail-rooms,
      .main-td__avail-rooms2 {
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        text-align: center;
        width: 20%;
      }
    }

    .spec-date-back-btn {
      margin: 15px 0 0 50%;
    }
  }
}

.room-service-container {
  align-items: center;
  background-color: $primary-background;
  border: 1px solid black;
  height: 300px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  opacity: 1;
  overflow: scroll;
  text-align: center;
  width: 50%;

  .right-padding {
    padding-right: 30px;
  }
}

.main-section__rooms-page {

  .room-content-container {
    display: flex;
    height: 65%;
    justify-content: space-around;
    padding: 40px;
    width: 100%;
  }

  .main-span__most-rooms-avail,
  .main-span__most-pop-book-date {
    font-size: 2em;
  }

  .main-h3__most-pop-book-date,
  .main-h3_most-rooms-avail {
    font-size: 1.5em;
  }

  .main-section__most-pop-book-date,
  .main-section__most-rooms-avail {
    border: 1px solid black;
    height: 100%;
    padding-bottom: 20px;
    text-align: center;
    width: 45%;
  }

  .main-div__input-wrangler {
    display: flex;
    flex: row;
    height: 200px;
  }

  .room-input-container,
  .room-input-container-tonight {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 35%;
  }

  .booking-date-labels {
    height: 30px;
    margin-bottom: 15px;
    width: 300px;
  }

  .booking-label {
    font-size: 1.2em;
    font-weight: bold;
  }

  .rooms-customer-info {
    height: 100%;
    text-align: center;
    width: 100%;
  }

  .rooms-customer-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 50%;
  }

  .main-h3__rooms-header {
    text-align: center;
  }

  .all-bookings-container {
    background-color: white; 
    border: 1px solid black;
    height: 300px;
    padding: 10px;
    overflow: scroll;
  }

  .main-table__all-bookings {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
  }

  .main-tr__all-bookings {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    &:hover {
      background-color: gray;
    }
  }

  .main-tr__booking-info {
    width: 230px;

    &:hover {
      background-color: gray;
    }
  }

  .bookings-td__booking-info,
  .main-th__all-bookings {
    text-align: center;
    width: 32%; 
  }

  .bookings-td__booking-info {
    padding-bottom: 10px;
  }

  .main-tbody__booking-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .booking-tonight-button {
    margin: auto;
  }

  .booking-confirm-div {
    margin: auto;
    text-align: center;
    width: 70%;

    .main-button__confirm-booking {
      margin: auto;
    }
  }
}

.main-div__table-header-container {
  display: flex;

  .inputs,
  .main-para__filter-room-type {
    margin-top: 22px;
  }
  
  .inputs {
    margin-left: 10px;
  }

  .main-para__filter-room-type {
    margin-left: 70px;
  }
}

.main-form__existingCustomer-search {
  display: flex;
  height: 100%;
  justify-content: space-around;
  padding: 40px;

  .main-customer-div {
    align-items: center;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 65%;
    opacity: 1;
    padding: 40px;
    text-align: center;
    width: 45%;
  }

  .customer-label {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .customer-inputs {
    height: 30px;
    margin-bottom: 15px;
    width: 300px;
  }

  .main-para__errorMsg {
    margin: 0;
    font-size: .75;
    width: 100%;
  }
}

.main-section__orders-page {
  padding: 40px;

  .main-orders-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 auto;
    overflow: scroll;
    text-align: center;
    width: 50%;
    
    .main-table__all-orders {
      background-color: white; 
      // height: 50%;
      // height: 200px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 1;
    }

    .main-tr__food-menu {
      width: 100%;

      &:hover {
        background-color: gray;
      }
    }

    .main-td__food-type {
      width: 50%;
    }
  }

  .main-orders-input-container {
    height: 150px;
    margin: 50px auto 0 auto;
    text-align: center;
    width: 30%;

    .room-service-labels {
      height: 30px;
      margin-bottom: 15px;
      width: 250px;
    }
  }
}

.orders-customer-info {
  height: 100%;
  width: 100%;
  text-align: center;

  .orders-customer-info-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 100%;
  }

  .orders-customer {
    background-color: $primary-background;
    border: 1px solid black;
    height: 50%;
    width: 30%;
  }

  .main-table__customer-orders {
    margin: 0 auto 0 auto;
  }

  .orders-td__food-type {
    margin: 5px;
    width: 20%;
  }

  .service-food {
    width: 50%
  }

  .orders-h3 {
    margin-bottom: 30px;
  }

  .orders-all-cost {
    margin-top: 52px;
  }
}